<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="hostIp" value="127.0.0.1" />
<!--		<add key="hostIp" value="18.111.21.127" />
		<add key="hostIp" value="18.111.22.75" /> -->
		<add key="hostPort" value="10000" />
		<add key="testMode" value="false" />
		<add key="avatarGender" value="male" />
	</appSettings>	
</configuration>
